* {
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Titan One', cursive; */
    /* border: 1px solid black; */
}

:root {
    --color-red: #9B1B39;
    --color-white: #fff;
    --color-green: #2A737A;
    --color-yellow: #FABA67;
    --color-grey: #555555;
    --color-black: #000;
    --color-hover-red: #AA1B39;
    --color-beige: #f7d2a5;
}

/* NAVBAR */
.navbar {
    background: url(../img/nav-background..webp);
    height: 5em;
}
.collapse h5 {
    position: relative;
    top: 10px;
    width: 100px;
    color: var(--color-white);

}
.navbar-nav {
    margin-left: 50px;
}
.navbar-nav .nav-link {
    color: var(--color-white);
    border: transparent;
    transition: all 0.8s;
}

.navbar-nav .nav-link:hover {
    border-bottom: 1px solid var(--color-white);
}

.navbar-nav .nav-link:active {
    border-bottom: 1px solid var(--color-white);
}

#btn-location {
    border-radius: 0;
}

#btn-location:hover {
    background: rgb(216, 216, 216);
    border: none;
}

#btn-location a {
    color: var(--color-black);
    text-decoration: none;
}

.navbar-toggler-icon {
    color: var(--color-white);
}

.navbar-toggler {
    background: url(../img/nav-background..webp);
    color: var(--color-white);
}

.collapse {
    background: url(../img/nav-background..webp);
    padding-bottom: 10px;
    z-index: 10;
}

.collapse li,
button {
    margin-left: 10px;
}

/* FOOTER */
.footer {
    background: var(--color-grey);
    height: 25em;
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    padding: 2% 0;
}

.footer-list_titulo {
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.footer-list {
    font-size: 16px;
    color: var(--color-white);
    list-style: none;
    margin: 2em;
    padding-left: 0px;
    flex-grow: 1;
}
.footer-list a {
    text-decoration: none;
    color: var(--color-white);
}
.footer-list li:hover {
    text-decoration: underline;
    color: var(--color-white);
    cursor: pointer;
}
.footer-icons {
    display: flex;
    width: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-icons li {
    font-size: 32px;
    text-align: center;
    height: 42px;
}

/* CAROUSEL */
#carouselExampleControls {
    margin: 2em 5%;
}
.carousel-inner #carousel-principal {
    /* background: url(../img/hotdogB.png) no-repeat right, url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-blue-background-promotion-carnival-print-ad-image_148937.jpg); */
    background: url(../img/hotdogB.png) no-repeat right, url(../img/Fondos/floor-1256804_1920.jpg);
    background-size: contain;
}
.carousel-inner #carousel-item1 {
    background: url(../img/hamburguesaCombo.png) no-repeat right, url(../img/Fondos/floor-1256804_1920.jpg);
    background-size: contain;
}
.carousel-inner #carousel-item2 {
    background: url(../img/pizzacuatro.png) no-repeat right, url(../img/Fondos/floor-1256804_1920.jpg);
    background-size: contain;
}
.carousel-content {
    color: var(--color-white);
    font-weight: 900;
    text-shadow: 2px 2px 5px rgb(207, 129, 129);
    margin-left: 10%;
    margin-top: 2em;
    max-width: 500px;
}
.carousel-content h1 {
    font-family: 'Titan One', cursive;
}
.carousel-control-prev {
    width: 100px;
    margin: 0;
}
.carousel-control-next {
    width: 100px;
}
.carousel-control-prev:hover {
    background: linear-gradient(to left, transparent, #333);
    ;
}
.carousel-control-next:hover {
    margin-left: 0;
    background: linear-gradient(to right, transparent, #333);
}
.carousel-item {
    height: 25em;
}
.carousel-content button {
    color: var(--color-white);
    background: var(--color-red);
    border: none;
    padding: 10px;
    margin: 0;
    position: relative;
    bottom: -10em;
}
.carousel-content a {
    color: var(--color-white);
    text-decoration: none;
}
.carousel-content button:hover {
    background: var(--color-hover-red);
}

/* ARTICULOS */
/* PRIMER ARTICULO */
.section-articles {
    display: flex;
    margin: 5%;
}

.article-orden {
    background: var(--color-red);
    flex: 1;
    margin: 10px;
    height: auto;
    text-align: center;
}
.article-orden:nth-child(2) {
    background: var(--color-green);
}
.article-btn {
    background: url(../img/parejaCocina.jpg) no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 20em;
}
.article-btn a {
    text-decoration: none;
    color: var(--color-black);
}
.article-pruebaComida {
    background: url(../img/chef.jpg) no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 20em;
}
.article-localizanos {
    background: url(../img/encuentranosDisfruta.jpg) no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 20em;
}
.article-btn button {
    border: none;
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    color: var(--color-black);
    background: var(--color-white);
    position: relative;
    bottom: -9em;
}
.article-btn button:hover {
    padding: 9.5px;
}
.article-orden h1 {
    font-family: 'Titan One', cursive;
    /* text-shadow: 2px 2px 5px rgb(207, 129, 129); */
    text-align: center;
    color: var(--color-white);
    margin: 20px;
}

/* COMIDAS */
.section-comida {
    display: flex;
}

/* MENU */
.menu {
    width: 400px;
    margin: 20px 10%;
    margin-right: 0;
    flex: .6;
}

.menu-lista {
    padding: 0;
    position: sticky;
    top: 10px;
}

.menu-lista__contenido {
    font-weight: 400;
    list-style-type: none;
    border: .5px solid #bbb;
    outline: none;
    padding: 8px;
}

.menu-lista__contenido:hover {
    cursor: pointer;
    border-left: 4px solid var(--color-green);
}

.menu-btn {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 10px;
}

/* PERROS */
.section-productos {
    margin: 20px 10%;
    margin-left: 5%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.producto-imagenes {
    margin: 20px;
    margin-bottom: 0;
}

.producto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.producto:hover .producto-img {
    cursor: pointer;
    margin: -8px;
    width: 110%;
}

.producto-nombre {
    font-size: larger;
    font-weight: 700;
}

.oferta__anterior {
    text-decoration: line-through;
}

.oferta {
    font-size: smaller;
    font-weight: 500;
    display: inline;
}

.producto-text {
    font-size: 12px;
}

/* LOCATION */
/* LOGIN */
.article-location {
    display: flex;
    background: url(../img/barcito.jpg);
    background-size: contain;
}

.article-map {
    margin: 2em 20%;
    flex: 2;

}
.article-section__sitio img {
    width: 100%;
}
.article-login {
    flex: 1;
    margin: 20px 30%;
}

.article-login h2 {
    text-align: center;
}
.form-input {
    width: 96%;
    margin: 2%;
    border: none;
    border-bottom: 3px solid var(--color-green);
}
.form-input:focus {
    background: linear-gradient(to bottom, transparent, #eee);
    outline: none;
}
.btn-registrar {
    color: var(--color-white);
    background: var(--color-green);
    padding: 7px;
    width: 40%;
}
.btn-registrar:hover {
    background: #2A887A;
}
.section-registrar {
    text-align: center;
}
.form-section>textarea {
    min-height: 140px;
    resize: none;
}
.form-link {
    text-align: center;
}
.form-link a {
    font-weight: 400;
    color: var(--color-green);
}

/* CONTACTO */
.article-contactos {
    display: inline-block;
    background: url(../img/sillasymesas.jpg);
    background-size: cover;
    width: 100%;
}
.article-section__contactos {
    background-color: var(--color-white);
    margin: 10% 20%;
}
.article-section__contactos h1 {
    text-align: center; 
    font-family: 'Titan One', cursive;
    font-weight: 900;
    padding-bottom: 40px;
}
.article-section__contactos input {
    width: 100%;
    height: 3em;
    background: transparent;
    outline: none;
    border: none;
    border: 3px solid var(--color-green);
    border-right: none;
}
.article-contenido__direccion {
    padding: 2em;
}
.article-inputDirrecion {
    display: flex;
}
.article-inputDirrecion input:nth-child(1) {
    flex: 2;
}
.article-inputDirrecion input:nth-child(1)::placeholder {
    padding-left: 10px;
}
.article-inputDirrecion input:nth-child(1):focus {
    flex: 2;
    background: linear-gradient(to bottom, transparent, #eee);
    outline: none;
}
.article-inputDirrecion input:nth-child(2) {
    flex: .6;
    font-weight: 900;
    color: var(--color-white);
    border: none;
    background-color: var(--color-red);
}
.article-inputDirrecion input:nth-child(2):hover {
    background-color: var(--color-hover-red);
}
/* CARDS CONOCENOS */
.article-cards {
    margin: 2em 10%;
}
.article-section__card {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;

}
.article-section__card div:nth-child(1) {
    grid-column: 1/2;
    background: var(--color-beige);
}
.article-section__card img {
    width: 100%;
    object-fit: cover;
}
.article-section__card div:nth-child(2) {
    background: var(--color-beige);
}
.article-cards__img {
    padding: 0;
}
.article-cards__text {
    padding: 20px;
}
.article-cards__text h3 {
    font-weight: 700;
    margin-bottom: 40px;
}

/* RESPONSIVE DESING MOBILE */
@media only screen and (max-width:600px) {

    /* SECTION */
    .section-articles {
        flex-direction: column;
        margin: 10px 5%;
    }

    .article-orden {
        border: 1px solid black;
        margin: 2px;
        width: 100%;
    }

    .article-orden p {
        font-size: 12px;
    }

    /* FOOTER */
    .footer {
        height: auto;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-icons {
        flex-direction: row;
        width: 40px;
    }
    /* SECTION COMIDA */
    .section-comida {
        display: flex;
        flex-direction: column;
    }

    /* MENU SECTION COMIDA */
    .menu {
        width: auto;
        margin: 20px 5%;
    }

    /* PERROS */
    .section-productos {
        width: auto;
        margin: 20px 3%;
    }
}

/* RESPONSIVE DESING TABLET */
@media only screen and (max-width: 900px) {

    /* CAROUSEL */
    #carouselExampleControls {
        margin: 10%;
    }

    /* MENU */
    .menu {
        margin: 20px 5%;
    }

    /* FOOTER */
    .footer-list {
        margin: .5em;
    }

    .footer-icons {
        flex-direction: column;
    }

    /* ARTICLE-LOCATION */
    .article-location {
        flex-direction: column;
    }

    .article-map {
        width: 100%;
    }
}